<web-app>
  <!--设置启动首页为login.jsp-->
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <!--设置servlet-->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.javatop.controller.case01.LoginServlet</servlet-class>
  </servlet>
  <!--设置servlet的url-->
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>
